@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 5px;
}

a {
  text-decoration: none;
}

.container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}

.body{
  background-image: url(/img/background\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.header {
  width: 1028px;
  max-height: 61px;
  margin-left: 161px;
}

.header-wrapper {
  margin-top: 50px;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block{
  width: 219px;
  height: 51px;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}

.logo-hover {
  display: none;
}

.header-block:hover span {
  color: #f26522;
}

.header-block:hover .header-logo {
  display: none;
}

.header-block:hover .logo-hover {
  display: block;
}

.logo-text {
  width: 100px;
  margin-left: 8px;
}

.logo-text-1 {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
  height: 30px;
}

.logo-text-2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  margin-top: 3px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 219px;
  height: 58px;
}

.contacts a:hover {
  color: #f26522;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  position: relative;
  text-decoration: none;
}

.main{
  max-width: 1030px;
  height: 560px;
  margin: 17px 0 0 161px;
  display: flex;
  flex-direction: column;
}

.card-row {
  width: 100%;
  height: 261px;
}

.card-top {
  display: grid;
  grid-template-columns: repeat(6, 309px 52px 309px 53px 308px);
  grid-template-rows: repeat(1, 261px);
  margin-left: 2px;
}

.card-bottom {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(6, 309px 55px 309px 52px 309px);
  grid-template-rows: repeat(1, 261px);
}

.card-1 {
  grid-column: 1;
  width: 309px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-1-border {
  width: 304px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff, #00000000);
}

.img-1 {
  width: 300px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img-1 img {
  width: 304px;
  height: 222px;
}

.card-2 {
  grid-column: 3;
  width: 309px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-2-border {
  width: 304px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff, #00000000);
}

.img-2 {
  width: 300px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img-2 img {
  width: 309px;
  height: 230px;
}

.card-3 {
  grid-column: 5;
  width: 309px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-3-border {
  width: 304px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff, #00000000);
}

.img-3 {
  width: 300px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img-3 img {
  width: 303px;
  height: 222px;
}

.card-4 {
  grid-column: 1;
  width: 309px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-4-border {
  width: 304px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff, #00000000);
}

.img-4 {
  width: 300px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img-4 img {
  width: 304px;
  height: 222px;
}

.card-5 {
  grid-column: 3;
  width: 309px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-5-border {
  width: 304px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff, #00000000);
}

.img-5 {
  width: 300px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img-5 img {
  width: 304px;
  height: 222px;
}

.card-6 {
  grid-column: 5;
  width: 309px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-6-border {
  width: 304px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff, #00000000);
}

.img-6 {
  width: 300px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img-6 img {
  width: 301px;
  height: 222px;
}

.tour-link {
  width: 304px;
  height: 19px;
  text-align: center;
}

.tour-link a {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.card {
  position: relative;
}

.card:hover .tour-link a {
  color: #f26522;
}

.card-price a {
  padding: 0 300px 55px 0;
  z-index: 1;
}

.card-price {
  position: absolute;
  bottom: 41px;
  width: 300px;
  height: 0px;
  background: #f26522;
  overflow: hidden;
  transition: all 0.4s ease;
}

.card:hover .card-price {
  height: 55px;
}

.block-link {
  width: 284px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin: 7px 0 0 16px;
}

.text-from {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: block;
}

.price {
  margin-top: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: block;
}

.view-details {
  height: 36px;
  width: 115px;
  display: flex;
  align-items: flex-end;
}

.view-details-text {
  height: 36px;
  width: 99px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
}

.view-details-text::after {
  content: '';
  background-image: url("../img/arrow.png");
  background-size: 5px 10px;
  width: 5px;
  height: 10px;
  margin-left: 16px;
  margin-bottom: 2px;
}

footer {
  display: flex;
  justify-content: center;
}

.copyright {
  width: 306px;
  height: 21px;
  margin-top: 49px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

.r {
  border: red 1px solid;
}

.w {
  border: #fff 1px solid;
}
